// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary: coral;
//Button
$btn-border-radius: 2;
$btn-padding-x: 3em;
$btn-hover-border-shade-amount:   40%;
